extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'index'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    h1
      | Index Page

  main
    .canvas
      canvas

    .cfm-edit-panel
      .cfm-edit-table
        table.edit-table
          tr
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
          tr
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
          tr
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
          tr
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
            td: input(type="checkbox", data-js-class="generator")
